@font-face {
  font-family: "icomoon";
  src: url(./assets/fonts/icomoon.ttf);
}

body {
  background-color: #3772ff;
  font-family: "Poppins", "icomoon", sans-serif;
  color: #ffffff;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  /* height: 100vh; */
  /* overflow-y: scroll; */
}

.header {
  width: 100vw;
  position: absolute;
}
.header__image-line {
  background-image: url("./assets/img/header-image2.svg");
  width: 97.8033vw;
  height: 81.944vw;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  max-width: 559.8px;
  max-height: 469px;
}
.header__image {
  background-image: url("./assets/img/header-image1.svg");
  width: 92.56944vw;
  height: 75.97778vw;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  max-width: 529.8px;
  max-height: 434.85px;
  /* padding: 47px 48px; */
}
.header__buttons--not-logged {
  width: 100px;
  height: 30px;
  /* padding-bottom: 50px; */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header__buttons {
  padding: 40px 38px 40px 48px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  /* right: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .header__buttons-user {
  visibility: hidden;
} */
/* .header__buttons-home {
  width: 19.2px;
  height: 23px;
} */
.header__buttons-home i::before {
  content: "\e905";
  font-size: 22px;
}
.header__buttons-messages i::before {
  content: "\e904";
  font-size: 18px;
}
.header__buttons-user i::before {
  content: "\e901";
  font-size: 24px;
  color: #36d6ad;
}
.header__buttons-user {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
}

h3 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 48px;
}

.main-section {
  /* position: relative; */
  /* top: -98px; */

  /* bottom: 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 220px 15vw 0;
  background-image: url(./assets/img/Forma\ 2.svg);
  background-repeat: no-repeat;
  background-position: 100% 60%;
  min-height: 660px;
}
.main-section__logo {
  width: 200px;
}

.main-section__text {
  text-align: center;
  /* margin: 0 15vw; */
}
.main-section__button-link {
  background-color: #fc7071;
  padding: 8px 8px;
  font-weight: 600;
  width: 180px;
  height: 24px;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  text-align: center;
}
.main-section__image-container {
  width: 68.7vw;
  /* height: ; */
}
.main-section__image-home {
  position: relative;
  top: 30px;
  left: -10px;
  z-index: -1;
  /* width: 247.34px;
  height: 312.77px; */
}
.footer {
  background-color: #36d6ad;
  text-align: center;
  padding: 41px 0;
  height: auto;
  /* z-index: -1; */
  width: 100%;
  box-sizing: border-box;
}
